/*导航栏和footer部分的通用样式表*/
*{
    margin:0;
    padding: 0;
}
body{
    background-color: #F7F7F7;
}
ul{
    list-style: none;
}
header{
    width:100%;
    background-color: #1E89E0;
    font-size: 1em;
    color: white;
    overflow: hidden;
}
header section{
    width: 76em;
    margin: 0 auto;
}
header section ul li{
    display: inline-block;
    width:6em;
    padding: 1.5em 1em;
    text-align: center;
}
header section .left{
    width:30em;
    position: relative;
    float: left;
}

header section .left li:hover,li:active{
    background-color: #006BC7;
}
header section .right{
    position: relative;
    float: right;
}
footer{
    width: 100%;
    margin-top: 2em;
    overflow: hidden;
    border-top: 1px solid #EEEEEE;
}
footer section{
    width:76em;
    margin: 0 auto;
    padding: 2em 0;
}
footer section .left{
    width: 35em;
    float: left;
    border-right: 1px solid #EEEEEE;
}
footer section .left ul{
    width:8em;
    float: left;
    padding-left: 2em;
}
footer section .left ul li{
    color:#999999;
    font-size: 0.8em;
    line-height: 2em;
}
footer section .left ul li:first-child{
    font-size: 1em;
    color: black;
}
footer section .right{
    width: 35em;
    float: right;
}
footer section .right ul{
    float: left;
    width:15em;
    line-height: 3em;
}
footer section .right p{
    float: right;
    width: 18em;
    padding-top:1em; ;
    font-size: 0.8em;
    text-align: center;
}
footer section .right p span{
    font-size: 1.5em;
}
footer section .right p img{
    width: 6em;
    background-size: cover;
    float: left;
}


