.footer{
  width: 76em;
  margin: 2em 3em;
  overflow: hidden;
  border-top: 1px solid #EEEEEE;
  .left{
    width: 35em;
    float: left;
    border-right: 1px solid #EEEEEE;
    ul{
      width:8em;
      float: left;
      li{
        list-style: none;
        color:#999999;
        font-size: 0.8em;
        line-height: 2em;
      }
      li:first-child{
        font-size: 1em;
        color: black;
      }
    }
  }
  .right{
    width: 35em;
    float: right;
    ul{
      float: left;
      width:15em;
      line-height: 3em;
      li{
        list-style: none;
      }
    }
    p{
      float: right;
      width: 18em;
      padding-top:1em; ;
      font-size: 0.8em;
      text-align: center;
      img{
        width: 6em;
        height: 6em;
        background-size: cover;
        float: left;
      }
      span{
        font-size: 1.5em;
      }

    }
  }
}