
.container{
  width: 100%;
  overflow: hidden;
  //
  header{
    font-size: 1.2em;
    color: white;
    background-color: #1E89E0;
    overflow: hidden;
    .nav{
      width: 63.3em;
      margin: 0 auto;
      overflow: hidden;
      a{
        color: white;
      }
      li{
        list-style: none;
        float: left;
        width: 5em;
        padding: 1em 1em;
        text-align: center;
      }
      li:hover{
        background-color: #006BC7;
      }
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }
  }
}